.map-3d-container {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-bg);
  overflow: hidden;
}

.map-3d-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
