<div *ngIf="notification" class="alert-toast" [ngClass]="notification.type">
  <div class="toast-indicator"></div>
  <div class="toast-icon">
    <i class="fa-solid fa-triangle-exclamation" *ngIf="notification.type === 'error'"></i>
    <i class="fa-solid fa-circle-check" *ngIf="notification.type === 'success'"></i>
    <i class="fa-solid fa-circle-info" *ngIf="notification.type === 'info'"></i>
  </div>
  <div class="toast-body">
    <div class="toast-title">{{ getTitle() }}</div>
    <div class="toast-message">{{ notification.message }}</div>
  </div>
  <button class="toast-close" (click)="close()">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <div class="toast-progress"></div>
</div>
